services:
  db:
    image: postgres:16
    container_name: alxtravel_postgres
    environment:
      POSTGRES_DB: alxtravel
      POSTGRES_USER: alxuser
      POSTGRES_PASSWORD: alxpass
    ports:
      - "5433:5432"   # host:container
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
